.snackoverflow-banner {
    height: 300px;
    width: 100%;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.snackoverflow-banner-h1 {
    font-size: 8em;
    color: white;
}
